@model Product

<a asp-action="product" asp-route-id="@Model.ID" class="text-decoration-none text-dark">
    <div class="m-3 card d-flex flex-row">

        <img src="@Model.ImageUrl" width="64" height="64" class="rounded-start"/>

        <div class="my-auto mx-2 w-100 fw-bold align-self-center">
            <h6>@Model.Name</h6>
            <h6>@Model.Price</h6>
            <h6>@Model.Description</h6>
        </div>

        <div class="w-100 text-end align-self-center me-3 text-muted">
            @foreach (var tag in Model.Tags)
            {
                <div>@tag.Name</div>
            }
        </div>

    </div>
</a>
