@model Showcase

@if (!Model.IsVisible)
    return;

<section class="showcase">
    <div class="container">

        <div class="content col-6">

            <div class="ingress">@Model.Ingress</div>
            <div class="title">@Model.Title</div>

            <a href="@Model.LinkUrl" class="btn-theme">@Model.LinkText</a>

        </div>

        <div class="content-image">
            <img src="@Model.ImageUrl" alt="@Model.Title">
        </div>

    </div>
</section>
