@using WebApp.Models.Entities;

<nav>

    <style type="text/css">

        /* Adjust header for sidebar */
        header {
            margin-left: 250px;
            width: calc(100% - 250px);
        }

        header > .container > .toggle {
            margin-left: 12px;
        }

    </style>

    <h5 class="mt-3 ms-3">Products:</h5>
    <ul class="ps-3">

        @if ((ViewBag.Products as IEnumerable<object>)?.Count() == 0)
        {
            <li>No products</li>
        }

        @foreach (ProductEntity product in ViewBag.Products)
        {
            <li>
                <a asp-controller="admin" asp-action="product" asp-route-id="@product.ID">@product.Name</a>
            </li>
        }

    </ul>
    
    <h5 class="mt-4 ms-3">Categories:</h5>
    <ul class="ps-3">

        @if ((ViewBag.Categories as IEnumerable<object>)?.Count() == 0)
        {
            <li>No categories</li>
        }

        @foreach (ProductCategoryEntity category in ViewBag.Categories)
        {
            <li>
                <a asp-controller="admin" asp-action="category" asp-route-id="@category.ID">@category.Name</a>
            </li>
        }

    </ul>

    <h5 class="mt-4 ms-3">Tags:</h5>
    <ul class="ps-3">

        @if ((ViewBag.Tags as IEnumerable<object>)?.Count() == 0)
        {
            <li>No tags</li>
        }

        @foreach (Tag tag in ViewBag.Tags)
        {
            <li>
                <a asp-controller="admin" asp-action="tag" asp-route-id="@tag.ID">@tag.Name</a>
            </li>
        }

    </ul>

    <h5 class="mt-4 ms-3">Users:</h5>
    <ul class="ps-3">

        @if ((ViewBag.Users as IEnumerable<object>)?.Count() == 0)
        {
            <li>No users</li>
        }

        @foreach (UserProfileEntity user in ViewBag.Users)
        {
            <li>
                <a asp-controller="admin" asp-action="user" asp-route-id="@user.UserID">@user.User.UserName</a>
            </li>
        }

    </ul>

    <div class="sidebar-footer mb-2 align-content-center w-100 pb-1 text-center">
        <a asp-action="addproduct">Create new product...</a>
        <br>
        <a asp-action="addcategory">Create new category...</a>      
        <br>
        <a asp-action="addtag">Create new tag...</a>
    </div>

</nav>
