@using WebApp.Models.Entities;

<nav>

    <style type="text/css">

        /* Adjust header for sidebar */
        header {
            margin-left: 250px;
            width: calc(100% - 250px);
        }

        header > .container > .toggle {
            margin-left: 12px;
        }

        a {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            width: auto;
            margin: 0;
        }

        h5 {
            margin: 0;
        }

    </style>

    <div class="mt-4 ms-3 d-flex flex-row">
        <h5 class="w-100">Products:</h5>
        <a asp-action="addproduct" class="fw-bold text-decoration-none align-self-center h-100 me-2"><h5>+</h5></a>
    </div>

    <ul class="px-3">

        @if ((ViewBag.Products as IEnumerable<object>)?.Count() == 0)
        {
            <li>No products</li>
        }

        @foreach (Product product in ViewBag.Products)
        {
            <li>
                <a asp-controller="admin" asp-action="product" asp-route-id="@product.ID">@product.Name</a>
            </li>
        }

    </ul>

    <div class="mt-4 ms-3 d-flex flex-row">
        <h5 class="w-100">Categories:</h5>
        <a asp-action="addcategory" class="fw-bold text-decoration-none align-self-center h-100 me-2"><h5>+</h5></a>
    </div>

    <ul class="px-3">

        @if ((ViewBag.Categories as IEnumerable<object>)?.Count() == 0)
        {
            <li>No categories</li>
        }

        @foreach (ProductCategory category in ViewBag.Categories)
        {
            <li>
                <a asp-controller="admin" asp-action="category" asp-route-id="@category.ID">@category.Name</a>
            </li>
        }

    </ul>

    <div class="mt-4 ms-3 d-flex flex-row">
        <h5 class="w-100">Tags:</h5>
        <a asp-action="addtag" class="fw-bold text-decoration-none align-self-center h-100 me-2"><h5>+</h5></a>
    </div>

    <ul class="px-3">

        @if ((ViewBag.Tags as IEnumerable<object>)?.Count() == 0)
        {
            <li>No tags</li>
        }

        @foreach (Tag tag in ViewBag.Tags)
        {
            <li>
                <a asp-controller="admin" asp-action="tag" asp-route-id="@tag.ID">@tag.Name</a>
            </li>
        }

    </ul>

    <div class="mt-4 ms-3 d-flex flex-row">
        <h5 class="w-100">Showcases:</h5>
        <a asp-action="addshowcase" class="fw-bold text-decoration-none align-self-center h-100 me-2"><h5>+</h5></a>
    </div>

    <ul class="px-3">

        @if ((ViewBag.Showcases as IEnumerable<object>)?.Count() == 0)
        {
            <li>No showcases</li>
        }

        @foreach (Showcase showcase in ViewBag.ShowCases)
        {
            <li>
                <a asp-controller="admin" asp-action="showcase" asp-route-id="@showcase.ID">@showcase.Title</a>
            </li>
        }

    </ul>

    <div class="mt-4 ms-3 d-flex flex-row">
        <h5 class="w-100">Users:</h5>
        <a asp-action="adduser" class="fw-bold text-decoration-none align-self-center h-100 me-2"><h5>+</h5></a>
    </div>

    <ul class="px-3">

        @if ((ViewBag.Users as IEnumerable<object>)?.Count() == 0)
        {
            <li>No users</li>
        }

        @foreach (UserProfileEntity user in ViewBag.Users)
        {
            <li>
                <a asp-controller="admin" asp-action="user" asp-route-id="@user.UserID">@user.User.UserName</a>
            </li>
        }

    </ul>

</nav>
