@using WebApp.Models.Entities;

<nav class="p-4">

    <h5>Products:</h5>
    <ul class="p-0 me-4">

        @foreach (ProductEntity product in ViewBag.Products)
        {
            <li>
                <a asp-controller="admin" asp-action="product" asp-route-id="@product.ID">@product.Name</a>
            </li>
        }

        <li class="mt-2"><a asp-action="addproduct">Create new product...</a></li>

    </ul>

    <h5 class="mt-4">Categories:</h5>
    <ul class="p-0">

        @foreach (ProductCategoryEntity category in ViewBag.Categories)
        {
            <li>
                <a asp-controller="admin" asp-action="category" asp-route-id="@category.ID">@category.Name</a>
            </li>
        }

        <li class="mt-2"><a asp-action="addcategory">Create new category...</a></li>

    </ul>

    <h5 class="mt-4">Users:</h5>
    <ul class="p-0">

        @foreach (UserProfileEntity user in ViewBag.Users)
        {
            <li>
                <a asp-controller="admin" asp-action="user" asp-route-id="@user.UserID">@user.User.UserName</a>
            </li>
        }

    </ul>

</nav>
